		* {
  		font-family: 'Sedgwick Ave Display', cursive;
		}
		.random {
		color: Crimson;
		background-color: DarkMagenta;
  		font-size: 50px;
		line-height: 1.7em;
		word-spacing: 0.25em;
		font-weight: bold;
		font-style: italic;
		text-align: center;
		}
		.image1 {
  		width: 600px;
  		height: 600px; 
		display: block;
  		margin: 0px auto;
		}
		.image2 {
  		width: 600px;
  		height: 600px;
		display: block;
  		margin: 10px auto; 
		}
		.image3 {
  		width: 500px;
  		height: 700px;
		display: block;
  		margin: 10px auto; 
		}
		.heading {
		text-margin-top: 100px;
		padding-top: 10px;
		}
		.video2 {
		display: block;
  		margin: 10px auto;
		}