/********** Base styles **********/
/*html, body {
  padding: 0;
  margin: 0;
}*/
* {
  box-sizing: border-box;
  overflow: auto;
} 
h1 {
  margin-bottom: 15px;
  text-align: center;
}
.Container1 {
	background-color: #5E4EBD;
	position: relative;
  border: 1px solid #000;
  margin: 2px;
}
.Container2 {
	background-color: #0DF5FF;
 	position: relative;
 border: 1px solid #000;
  margin: 2px;
}
.Container3 {
	background-color: #42FF2D;
	
	position: relative;
  border: 1px solid #000;
  margin: 2px;
}
.p1 {
	background-color: #FFFE6C;
	width: 100px;
	text-align: center;
	padding: 0.02px;
	position: absolute;
	top: 0;
	right: 0;
}
.p2 {
	background-color: #E88D0C;
	width: 100px;
	text-align: center;
	padding: 0.02px;
	position: absolute;
	top: 0;
	right: 0;
}
.p3 {
	background-color: #FF0000;
	width: 100px;
	text-align: center;
	padding: 0.02px;
	position: absolute;
	top: 0;
	right: 0;
}
.a1 {
	padding-top: 50px;
}
.a2 {
	padding-top: 50px;
}
.a3 {
	padding-top: 50px;
}
/*******Mobile View********/
@media (max-width: 767px) {
	.col-mv-1, .col-mv-2, .col-mv-3, .col-mv-4, .col-mv-5, .col-mv-6, .col-mv-7, .col-mv-8, .col-mv-9, .col-mv-10, .col-mv-11, .col-mv-12 {
    float: left;
  }

  .col-mv-1 {
    width: 8.33%;
  }
  .col-mv-2 {
    width: 16.66%;
  }
  .col-mv-3 {
    width: 25%;
  }
  .col-mv-4 {
    width: 33.33%;
  }
  .col-mv-5 {
    width: 41.66%;
  }
  .col-mv-6 {
    width: 50%;
  }
  .col-mv-7 {
    width: 58.33%;
  }
  .col-mv-8 {
    width: 66.66%;
  }
  .col-mv-9 {
    width: 74.99%;
  }
  .col-mv-10 {
    width: 83.33%;
  }
  .col-mv-11 {
    width: 91.66%;
  }
  .col-mv-12 {
    width: 100%;
  }
}
/*******Tablet View********/
@media (min-width: 768px) and (max-width: 991px){
	.col-tv-1, .col-tv-2, .col-tv-3, .col-tv-4, .col-tv-5, .col-tv-6, .col-tv-7, .col-tv-8, .col-tv-9, .col-tv-10, .col-tv-11, .col-tv-12 {
    float: left;
  }
  .col-tv-1 {
    width: 8.33%;
  }
  .col-tv-2 {
    width: 16.66%;
  }
  .col-tv-3 {
    width: 25%;
  }
  .col-tv-4 {
    width: 33.33%;
  }
  .col-tv-5 {
    width: 41.66%;
  }
  .col-tv-6 {
    width: 49%;
  }
  .col-tv-7 {
    width: 58.33%;
  }
  .col-tv-8 {
    width: 66.66%;
  }
  .col-tv-9 {
    width: 74.99%;
  }
  .col-tv-10 {
    width: 83.33%;
  }
  .col-tv-11 {
    width: 91.66%;
  }
  .col-tv-12 {
    width: 98.5%;
  }
}
/*******Desktop View*******/
@media (min-width: 992px){
	.col-dv-1, .col-dv-2, .col-dv-3, .col-dv-4, .col-dv-5, .col-dv-6, .col-dv-7, .col-dv-8, .col-dv-9, .col-dv-10, .col-dv-11, .col-dv-12 {
    float: left;
    margin: 5px solid black;
  }
   .col-dv-1 {
    width: 8.33%;
  }
  .col-dv-2 {
    width: 16.66%;
  }
  .col-dv-3 {
    width: 25%;
  }
  .col-dv-4 {
    width: 32.33%;
  }
  .col-dv-5 {
    width: 41.66%;
  }
  .col-dv-6 {
    width: 49%;
  }
  .col-dv-7 {
    width: 58.33%;
  }
  .col-dv-8 {
    width: 66.66%;
  }
  .col-dv-9 {
    width: 74.99%;
  }
  .col-dv-10 {
    width: 83.33%;
  }
  .col-dv-11 {
    width: 91.66%;
  }
  .col-dv-12 {
    width: 100%;
  }
}